html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #13161f;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

[data-slot="root"] {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a,
a:visited {
  color: #94aefc;
  text-decoration: none;
  position: relative;
  display: inline;
}

a::after {
  content: "";
  bottom: 0;
  height: 2px;
  left: 0;
  right: 0;
  width: 0px;
  background-color: #94aefc;
  display: block;
  position: absolute;
  transition: width 0.2s ease;
}
a:hover::after {
  width: 100%;
}

.header {
  /* max-height: 180px;
  height: 30vmax; */
  font-size: 1.5rem;

  padding: 24px;

  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.header p,
.header h1 {
  margin: 0;
}

.cards-wrapper {
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #7c859e #13161f;
  /* margin: 0 2vmax; */
}

.cards-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background: transparent;
}

.cards-wrapper::-webkit-scrollbar-thumb {
  transition: background 0.2s ease;
  width: 5px;
  height: 3px;
  background: #7c859e00;
  border-radius: 999px;
}

.cards-wrapper:hover::-webkit-scrollbar-thumb {
  width: 5px;
  height: 3px;
  background: #7c859e99;
  border-radius: 999px;
}

.cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: max-content;
  gap: 2rem;
  height: 16rem;
  padding: 2rem 2vmax;
  height: 289px;
}

.card {
  background: linear-gradient(
    136.18deg,
    rgba(255, 255, 255, 0.05) 43.85%,
    rgba(217, 217, 217, 0) 106.64%
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 15px 22px 2px rgba(0, 0, 0, 0.5);
  border-radius: 14px;
  height: 100%;
  width: 400px;
  max-width: 400px;
  transition: outline 0.2s ease;
  outline: 0px solid #fff0;
}

.card:hover {
  outline: 1px solid #fff;
}

.video-card {
  position: relative;
  background-size: cover;
  background-position: center;
  border-color: #45474e;
  border-radius: 14px;
  overflow: clip;
  aspect-ratio: 16 / 9;
  cursor: pointer;
}

.video-card .overlay {
  background: linear-gradient(to bottom, #0000 10%, #000e 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.7;
  transition: all 0.35s ease-in-out;
}

.video-card:hover .overlay {
  opacity: 1;
}

.video-card .details {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.video-card .author,
.details .author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

.video-card .author .author-pfp,
.details .author .author-pfp {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.video-card .thumbnail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  width: 400px;
}

.status-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px;
  backdrop-filter: blur(10px) contrast(1.1) saturate(0.9);
  -webkit-backdrop-filter: blur(10px) contrast(1.1) saturate(0.9);
}

#player {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  transform: scale(0.5);
  pointer-events: none;
  transition: transform 0.5s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.5s linear;
}

.video-container {
  position: relative;
  height: 100%;
  width: 100%;
}

#player.show {
  display: flex !important;
  transform: unset;
  opacity: 1;
  pointer-events: auto !important;
}

#player video {
  position: absolute;
  width: 100%;
  height: 100vh;
  aspect-ratio: 16 / 9;
  background-color: #222;
  /* background-image: url('loading.gif');
  background-size: 5vmax 5vmax;
  background-position: center;
  background-repeat: no-repeat; */
}

/* #player .controls {
  background: linear-gradient(to bottom, #0000 0%, #00000075 60%, #000);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 10;
  opacity: 0;
  transform: translateY(25%);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

#player .controls:hover {
  opacity: 1;
  transform: translateY(0%);
} */

* {
  box-sizing: border-box;
}

@media screen and (max-width: 860px) {
  /* Mobile layout */
  .header {
    min-height: calc(100vh - 32rem);
  }

  /* Modal thumbnail should be small */
  .thumbnail-wrapper {
    width: unset !important;
    max-height: 240px !important;
  }
}

section[data-slot="browse"] h1 {
  font-size: 2rem;
  padding: 0 2vmax;
  margin-bottom: 0;
}

section[data-slot="browse"] {
  padding-bottom: 5rem;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translate(-50%, -20%);
  z-index: 10;
  height: max-content;
  width: min-content;
  max-height: 100vh;
  padding: 16px;
  background: #181b24;
  border: 1px solid #fff5;
  border-radius: 14px;
  box-shadow: 0px 15px 89px 10px rgba(0, 0, 0, 0.25);
  max-width: 100vw;
}

.modal h1 {
  font-weight: 550;
  font-size: 1.5rem;
}

.modal.show {
  opacity: 1;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0009;
  opacity: 0;
  transition: backdrop-filter 0.5s ease, opacity 0.5s ease;
  backdrop-filter: blur(0px) contrast(1) saturate(1) brightness(1);
  -webkit-backdrop-filter: blur(0px) contrast(1) saturate(1) brightness(1);
  z-index: 9;
}
.modal-overlay.show {
  opacity: 1;
  backdrop-filter: blur(2px) contrast(1.1) saturate(1.1) brightness(1.1);
  -webkit-backdrop-filter: blur(2px) contrast(1.1) saturate(1.1) brightness(1.1);
}

.muted {
  color: #3d4660;
}

.thumbnail-wrapper {
  width: 640px;
  height: 360px;
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: clip;
  border-radius: 16px;
  border: 1px solid #fff5;
  max-width: calc(100vw - 32px);
}

.thumbnail-wrapper .thumbnail {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
}
.thumbnail-wrapper .close {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 9;
  width: 48px;
  height: 48px;
  appearance: none;
  background: #0005;
  color: #fff;
  font-size: 24px;
  border: 1px solid #fff3;
  border-radius: 10px;
  padding-left: 7px;
}
.thumbnail-wrapper .close:hover {
  background: #000a;
}

.modal .description-wrapper {
  position: relative;
}

.modal .description-wrapper .description {
  max-height: 10em;
  overflow: auto;
  position: relative;
  padding-bottom: 2rem;
  white-space: pre-wrap;
}

.modal .description-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(24, 27, 36, 0) 72.57%, #181b24 100%);
  pointer-events: none;
}

.link-hashtag::before {
  content: "#";
  color: #5b6ea9;
}

.link-generic,
.link-timestamp {
  padding-left: 28px;
  position: relative;
}
.link-generic::before {
  /* SVG Icon */
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='96' height='96' viewBox='0 0 96 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1909_2810)'%3E%3Cpath d='M25.0898 25.0899C29.9264 20.2533 37.7894 20.2533 42.626 25.0899L53.9397 36.4036L59.3138 31.0296L48 19.7159C40.1936 11.9094 27.5222 11.9094 19.7158 19.7159C11.9093 27.5223 11.9093 40.1937 19.7158 48.0001L31.0295 59.3138L36.4035 53.9398L25.0898 42.6261C20.2532 37.7895 20.2532 29.9265 25.0898 25.0899ZM33.8579 39.5149L56.4853 62.1423L62.1422 56.4854L39.5148 33.858L33.8579 39.5149ZM76.2843 48.0001L64.9706 36.6864L59.5966 42.0604L70.9103 53.3741C75.7469 58.2108 75.7469 66.0738 70.9103 70.9104C66.0737 75.747 58.2107 75.747 53.3741 70.9104L42.0603 59.5967L36.6863 64.9707L48 76.2844C55.8065 84.0909 68.4779 84.0909 76.2843 76.2844C84.0908 68.4779 84.0908 55.8066 76.2843 48.0001Z' fill='%235b6ea9'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1909_2810'%3E%3Crect width='96' height='96' fill='%235b6ea9'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-size: cover;
}

.link-timestamp::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='96' height='96' viewBox='0 0 96 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1910_2820)'%3E%3Cpath d='M47.96 8C25.88 8 8 25.92 8 48C8 70.08 25.88 88 47.96 88C70.08 88 88 70.08 88 48C88 25.92 70.08 8 47.96 8ZM48 80C30.32 80 16 65.68 16 48C16 30.32 30.32 16 48 16C65.68 16 80 30.32 80 48C80 65.68 65.68 80 48 80Z' fill='%235b6ea9'/%3E%3Cpath d='M50 28H44V52L65 64.6L68 59.68L50 49V28Z' fill='%235b6ea9'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1910_2820'%3E%3Crect width='96' height='96' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-size: cover;
}

button {
  background: #2a3042;
  border-radius: 12px;
  color: #6e87d1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 14px;
}

button,
input,
textarea {
  font: inherit;
}

button:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

input {
  background-color: #20242e;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: inherit;
  padding: 8px 14px;
  border-radius: 8px;
}

.video-meta .length {
  color: #7c859e;
}

.modal .results {
  /* Search results */
  max-width: 816px;
  gap: 16px;
  min-width: 50vmin;
}


/* Landing Page */

.nav {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
  list-style-type: none;
  gap: 15px;
  margin-right: 15px;
}